.aside {
  position: relative;
  display: flex;
  max-width: 30%;
  min-width: 25%;

  .sticky-aside {
    &.top {
      align-self: flex-start;
    }
    &.fixed {
      position: fixed;
    }
  }
  &-title-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-title {
    font-family: 'Raleway';
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0rem;
  }
  img.aside-icon {
    width: 2.6rem;
    height: 2.6rem;
  }

  &-text {
    font-family: 'Raleway';
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
  }
  &-event {
    padding: 0.5rem 2.2rem;
    width: 26.3rem;
    height: 15rem;
    background: #39bef5;
  }
  &-favorite {
    padding: 0.5rem 2.2rem;
    width: 26.3rem;
    height: 13.4rem;
    background: #45e393;
  }
  &-comment {
    padding: 0.5rem 2.2rem;
    width: 26.3rem;
    height: 15rem;
    background: #ff435f;
  }
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-13rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes smoothScrollDown {
  0% {
    align-self: flex-end;
    transform: translateY(-13rem);
  }

  100% {
    align-self: flex-end;
    transform: translateY(0rem);
  }
}
@keyframes smoothScrollUp {
  0% {
    transform: translateY(13rem);
  }

  100% {
    transform: translateY(0rem);
  }
}
