.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26.2rem;
  background: #fff;
  box-shadow: $shadow;
  z-index: -5;
  margin-right: 2rem;

  .progress-bar-content {
    height: 20rem;

    img.progress-bar-trending-img {
      width: 3.8rem;
      height: 2.3rem;
      margin-left: 2.5rem;
      margin-right: 1.1rem;
    }

    .progress-bar-trending {
      font-family: "Bitter", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #443d3c;
    }
  }
  #progress-bar {
    font-family: "Bitter", sans-serif;
    font-size: 4rem;
    font-weight: 700;
  }

  .donut-content {
    height: 27.5rem;
  }

  .progress-bar-title,
  .donut-title {
    font-family: "Raleway";
    font-size: 1.8rem;
    font-weight: 700;
    color: #212529;
    text-align: center;
  }
  .progress-bar-title {
    margin-top: 2.4rem;
  }

  .bar,
  .circle {
    font-family: "Bitter", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #443d3c;
    position: absolute;
    z-index: 2;
  }

  .bar::before {
    content: "";
    width: 20rem;
    position: absolute;
    left: -0.5rem;
    top: 8rem;
    height: 1.6rem;
    border-radius: 1rem;
    background: #e7eff1;
    z-index: -2;
  }

  .bar::after {
    content: "";
    left: -0.5rem;
    top: 8rem;
    height: 1.6rem;
    border-radius: 1rem;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation: bar-before 1 2s;
    position: absolute;
    z-index: -1;
  }

  // circle progress

  .circle-container {
    transform: translate(-5%, -20%);

    svg {
      height: 26.2rem;
      width: 27.5rem;
    }

    .stat {
      stroke: #ccc;
      stroke-width: 2.5rem;
      fill: transparent;
    }
    .circle-bar-progress {
      fill: url(#gradient);
      stroke: url(#gradient);
      fill-opacity: 0;
      stroke-width: 2.5rem;
      stroke-dasharray: 600;
      stroke-dashoffset: 300;
      stroke-linecap: round;
      transition: fill-opacity 0.5s linear;
      animation: load 1.5s linear;
    }

    .num {
      font-family: "Bitter", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      fill: #443d3c;
    }
  }
}

//  Color Progress bar
.progress-bar-trending::after {
  background-image: linear-gradient(to right, #ff455f, #fdde5d);
}

//   Keyframes

@keyframes bar-before {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 300;
  }
}
