$primary-color: #f3f5f9;
$secondary-color: #ff435f;
$shadow: 0rem 0rem 3.8rem 0rem rgba(217, 218, 221, 1);
$menu-speed: 0.75s;

// Font Aller
@font-face {
  font-family: 'AllerBoldItalic';
  src: url('/src/assets/font/aller/Aller_Std_BdIt.ttf') format('truetype'),
    url('/src/assets/font/aller/AllerStdBdIt.woff2') format('woff2');
}

// Font Bitter Bold Italic
@font-face {
  font-family: 'bitterBoldItalic';
  src: url('/src/assets/font/bitter/Bitter-BoldItalic.woff') format('woff');
}

// Google Fonts
@mixin googleFonts($font) {
  @import url('https://fonts.googleapis.com/css2?family=#{$font}:wght@400;500;700;900&display=swap');
}
@include googleFonts(Raleway);
@include googleFonts(Bitter);

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

// Media Query Mixins

@mixin for-phone-portrait {
  @media only screen and (min-device-width: 320px) and (max-device-width: 413px) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin for-phone-big-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
