.footer-container {
  display: flex;
  justify-content: center;
  background: $primary-color;
  width: 100%;
  margin-top: 3rem;
  height: 12.5rem;

  .footer-copyright {
    text-align: center;
    font-family: 'AllerBoldItalic', sans-serif;
    color: $secondary-color;
    text-transform: capitalize;
    font-size: 4.5rem;
  }
}
