.hamburger {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 3.9rem;
  height: 2.7rem;
  z-index: 10;
  background: transparent;
  visibility: visible;

  cursor: pointer;

  div {
    align-self: flex-end;
    height: 0.2rem;
    width: 100%;
    background: #676262;
  }
  .meat {
    width: 67%;
    transition: all 200ms ease-in-out;
  }
  .bottom-bun {
    width: 40%;
    transition: all 400ms ease-in-out;
  }

  &:hover {
    div {
      width: 100%;
    }

    .top-bun {
      animation: burger-hover 1s infinite ease-in-out alternate;
    }
    .meat {
      animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
    }
    .bottom-bun {
      animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
    }
  }
}
//Animation Hamburger
@keyframes burger-hover {
  0% {
    width: 50%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

// Menu
.menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.9);
  z-index: 10;
  transition: all 0.4s ease;
  overflow-x: hidden;
  z-index: 999;
  &-content {
    margin-top: 19rem;
    margin-left: 7rem;
    ul {
      list-style: none;

      li {
        color: #fff;
        font-family: 'bitterBoldItalic', sa;
        font-size: 3rem;
        text-transform: capitalize;
      }
    }
  }

  .close-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background: transparent;
    transform: translate(-6.2rem, 5.7rem);
    visibility: hidden;
    cursor: pointer;
    // Rotate On Hover
    &:hover div {
      transform: rotate(225deg);
    }
  }

  // Hamburger line

  .close-menu > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 0.3rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    transform: rotate(135deg);
  }

  // close-menu Top & Bottom

  .close-menu > div::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1rem;
    width: 100%;
    height: 0.3rem;
    background: inherit;
  }

  // turns Lines Into X

  .close-menu > div::before {
    top: 0;
    transform: rotate(90deg);
  }

  .link-element a,
  label {
    color: #fff;
    font-family: 'bitterBoldItalic', sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }
}

// Menu accordion
.accordion {
  & input:checked + &-subElements > &-subElement {
    height: 4.4rem;
    transform: scale(1);
  }
  & input[type='checkbox'] {
    display: none;
  }

  &-subElement {
    height: 0;
    transform-origin: 0 0;
    transform: scale(0);
    font-size: 1.7rem;
    line-height: 2;
    transition-property: transform, height;
    transition-duration: 0.3s;
    overflow: hidden;
  }

  &-subElement a {
    font-family: 'bitterBoldItalic', sans-serif;
    font-size: 1.7remx;
    color: #a2a4a7;
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }
}
