//  NavBar
.navbar {
  @include for-phone-big-portrait {
    padding: 2.5rem !important;
  }
}

.flex-row {
  @include for-phone-big-portrait {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

//  Aside

@include for-phone-big-portrait {
  .flex-row {
    .aside {
      @include for-phone-big-portrait {
        max-width: 100%;
        min-width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;
      }

      &-event {
        width: 100%;
      }
      &-favorite {
        width: 100%;
      }
      &-comment {
        width: 100%;
      }
      .sticky-aside {
        @include for-phone-big-portrait {
          position: static !important;
        }
      }
    }
  }
}
// Middle container
.content-middle-container {
  @include for-phone-big-portrait {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.content-middle {
  @include for-phone-big-portrait {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  &-title {
    @include for-phone-big-portrait {
      padding: 0 1rem;
      text-align: center;
    }
  }
}

.content-up-texte,
.content-down-texte {
  @include for-phone-big-portrait {
    max-width: 50rem;
    padding: 0 1rem;
    text-align: center;
  }
}
//   Card
.card-container {
  @include for-phone-big-portrait {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .card {
    @include for-phone-big-portrait {
      margin-right: 0;
    }
  }
}

//  Slider
.slide {
  @include for-phone-big-portrait {
    width: 100%;
    padding: 0;
  }
  .slide-caption {
    @include for-phone-portrait {
      font-size: 2.5rem;
    }
  }
}
.dots-container {
  .dots div {
    @include for-phone-big-portrait {
      width: 2rem;
      height: 2rem;
    }
  }
}

//  Footer
.footer-container {
  @include for-phone-big-portrait {
    min-height: 12.5rem;
  }
}

//  Menu Mobile
.menu {
  &-content {
    @include for-phone-big-portrait {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }
  .accordion {
    @include for-phone-big-portrait {
      padding: 0;
      &-subElement {
        padding: 0;
        text-align: center;
      }
    }
  }

  ul {
    @include for-phone-big-portrait {
      padding: 0;
    }
  }
}
