.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  background: $primary-color;
  padding: 3.5rem 15rem;
  top: 0;
  overflow: hidden;
  z-index: 990;

  .logo {
    font-family: 'AllerBoldItalic', sans-serif;
    font-size: 6rem;
    text-transform: capitalize;
    color: #443d3c;

    span {
      color: $secondary-color;
    }
  }
  .home-link {
    text-decoration: none;
    color: #443d3c;
  }
}
