/* Slideshow container */
.slider-container {
  height: 49.9rem;
}
.slide {
  position: relative;
  max-width: 46.2rem;
  height: 49.9rem;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  &.active {
    display: flex;
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(67, 61, 59, 0.6);
  }
}

.slide-caption {
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  color: #fff;
  text-align: center;
  line-height: 5.3rem;
  padding: 15rem 10rem;
  z-index: 99;
}
.dots-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
  z-index: 99;
}

.dots div {
  display: inline-block;
  background: $primary-color;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  line-height: 2.5rem;
  margin: 0 .6rem;
  transition: background-color 0.6s ease;
  text-align: center;
  cursor: pointer;
  &.active {
    background-color: $secondary-color;
  }
  &:hover {
    background-color: $secondary-color;
    @include easeOut;
  }
}
