@import 'config';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 109rem;
  margin-top: 12rem;
  display: flex;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  margin-top: 6.8rem;
}
// Texte content
.content-middle {
  padding-left: 6.8rem;

  &-title {
    font-family: 'Raleway';
    font-size: 2.8rem;
    font-weight: 900;
    color: #212529;
    margin-top: 0;
  }
}

.content-up-texte,
.content-down-texte {
  font-family: 'Raleway';
  font-size: 1.7rem;
  font-weight: 400;
  color: #000;
  margin: 0;
  margin-bottom: 3rem;
}
.content-down-texte {
  margin-top: 3rem;
}
// Middle container card & slider
.content-middle-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'card-a slider' 'card-b slider';

  .card-a {
    grid-area: card-a;
    height: 20rem;
    margin-bottom: 2rem;
  }
  .card-b {
    grid-area: card-b;
    height: 27.5rem;
  }

  .slider {
    grid-area: slider;
    height: 49.9rem;
    z-index: -2;
  }
}

// Scroll back to Top
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  color: #443d3c;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  box-shadow: 0 0 0.9rem -0.2rem $primary-color;
  @include easeOut;
}

#myBtn:hover {
  transform: scale(1);
  box-shadow: 0 0 0.9rem -0.2rem rgba(255, 68, 95, 1);
}
@import 'footer';
@import 'menu';
@import 'mobile';
@import 'navBar';
@import 'card';
@import 'slider';
@import 'aside';
